<base target="_blank">
<div class=iframes>
<iframe id="jenkins"
    title="jenkins"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="yes"
    marginheight="0"
    marginwidth="0"
    src="<%= @server_url %>:8080">
</iframe>
</div>
